.landing {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0;
    color: #fff;
    padding: 2rem;
    background-position: 25%;
}

.landing h1 {
    font-size: 4rem;
    font-weight: 100;
}

.landing b {
    font-weight: 700;
}
.landing__content {
    margin-top: 30vh;
}

.headshot-credit {
    color: #fff;
    text-align: end;
    margin-top: -3rem;
    margin-right: 3rem;
}

.blue {
    background-color: #2d9ab7;
    color: #fff;
    height: 100%;
}

@media (min-width: 600px) {
    .landing {
        margin-top: 6rem;
        padding-top: 10rem;
        align-items: flex-start;
    }

    .landing__content {
        margin-top: 25vh;
        margin-left: 5rem;
    }

    .landing h1 {
        font-size: 7rem;
        margin-bottom: 1.5rem;
    }

    .landing p {
        font-size: 1.5rem;
    }
}
/* 
@media (min-width: 1570px) {
    .landing__content {
        margin-left: 15vw;
    }
} */
