.landing {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: 0;
    color: #fff;
    background-image: url("../../assets/photos/headshot_small.jpg");
    padding: 3rem;
    background-position: 40%;
}

.landing h1 {
    font-size: 5rem;
    font-weight: lighter;
}

.headshot-credit {
    color: #fff;
    text-align: end;
    margin-top: -3rem;
    margin-right: 3rem;
}

.landing-content {
    max-width: 600px;
    margin-bottom: 5rem;
    color: #000;
}

.landing-content h2 {
    text-align: center;
}

.photo-container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
}

.testimonials {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--tertiary-color);
}

.testimonial {
    max-width: 600px;
}

.teaching-philosophy .content {
    display: flex;
    min-width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.teaching-philosophy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teaching-philosophy div {
    max-width: 300px;
    text-align: center;
}

.bio img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    object-position: 75%;
    border: 1rem solid #fff;
}

.blue {
    background-color: #2d9ab7;
    color: #fff;
    height: 100%;
}

.bio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 5rem;
    max-width: 1600px;
}

.bio-item h4 {
    font-weight: bold;
    font-style: italic;
}

.bio-header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    .landing {
        margin-top: 6rem;
        padding-top: 10rem;
        align-items: flex-start;
    }

    .landing h1 {
        font-size: 7rem;
    }
}

@media (min-width: 1066px) {
    .zoom-section {
        max-width: 600px;
        margin: auto;
    }

    .bio {
        max-width: 1200px;
        margin: auto;
    }
}
