.landing__container {
    max-width: var(--box-xxl);
    margin: var(--space-xxl) auto;
}

.landing__title {
    max-width: var(--box-xl);
}

.landing__content {
    max-width: var(--box-lg);
}

.cta {
}
