@media (min-width: 1066px) {
    .zoom-section {
        max-width: 600px;
        margin: auto;
    }
}

@media (min-width: 600px) {
    .zoom-section .youtube {
        margin-right: 0;
        margin-bottom: 0;
        max-width: unset;
    }
}

.zoom-section a {
    color: #0645ad;
}

.zoom-section a:hover {
    text-decoration: underline;
}
