.teaching-philosophy {
    max-width: 1200px;
    margin: auto;
}

.teaching-philosophy .new-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 10rem;
}

.teaching-philosophy img {
    border-radius: 1rem;
    max-width: 100%;
    box-shadow: 1rem 1rem 0 var(--color-pink);
}

.new-grid .item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 5rem;
    row-gap: 5rem;
}

.item .text {
    max-width: 600px;
    margin: auto;
}

.text p {
    font-size: 1.5rem;
    line-height: 2.25rem;
}
