.teaching-philosophy {
    max-width: 1600px;
    margin: auto;
}

.teaching-philosophy .new-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 5rem;
}

.teaching-philosophy img {
    border-radius: 1rem;
    max-width: 100%;
    box-shadow: 1rem 1rem 0 var(--color-pink);
}

.new-grid .item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 5rem;
}

.item .text {
    padding: 5rem;
}
