:root {
    --color-blue-dark: #1d3557;
    --color-blue-light: #f1f5fb;
    --color-pigeon: #c7d8e4;

    --color-green-dark: #0c3935;
    --color-green-light: #c2e1be;
    --color-green: #7bc182;

    --color-pink: #f5c8cf;
    --color-salmon: #f0a59f;
    --color-red: #fd4a42;

    --color-text: var(--color-blue-dark);
    --color-bg: var(--color-blue-dark);
}
