:root {
    --header-bg-color: #233142;
    --button-color: #f95959;
    --tertiary-color: #fafafa;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"), url(../../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format("truetype");
}

html,
body {
    font-size: 14px;
    color: var(--header-bg-color);
}

/* Layout style */

main,
header,
section,
footer {
    margin: 0;
}

section {
    padding: 2rem;
}

.header,
.navbar {
    flex-direction: row;
    align-items: flex-start;
}

.navbar {
    display: none;
    align-items: center;
}

.navbar.open {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 100%;
    width: 100%;
    align-content: center;
    top: 0;
    bottom: 0;
    justify-content: space-evenly;
}

.main-content {
    max-width: 800px;
    margin: auto;
    padding: 3em;
}

.main-content__header {
    display: flex;
    flex-direction: column;
}

.main-image {
    text-align: center;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: 300;
}

p {
    font-size: 1.2rem;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 100ms;
    cursor: pointer;
}

a:visited {
    color: #fff;
}

/* Header style */

.header {
    display: flex;
    justify-content: flex-end;
    color: var(--header-bg-color);
    z-index: 9999;
}

.navbar__link {
    margin-right: 3em;
}

.navbar a {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--header-bg-color);
}

a:hover {
    color: var(--button-color);
}

/* Button style */

button:hover {
    background-color: #fff;
    color: var(--button-color);
}

.donate-button:hover {
    background-color: #fff;
    color: var(--button-color);
}

button {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 2rem 5rem;
    border-radius: 5px;
    border: 2px solid var(--button-color);
    background: var(--button-color);
    color: #fff;
    transition: all 100ms;
    cursor: pointer;
    width: 100%;
}

section h1 {
    text-align: center;
}

@media (min-width: 600px) {
    main {
        margin-top: 12rem;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3rem;
    }

    section {
        padding: 4rem;
    }

    .navbar {
        position: relative;
        height: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header {
        flex-direction: row;
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        background: #fff;
        top: 0;
        padding: 2rem;
        box-sizing: border-box;
    }

    .section-landing {
        width: 100%;
        margin: 0px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--header-bg-color);
        box-sizing: border-box;
        padding: 10rem;
        flex-wrap: wrap;
    }

    .contact {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 2rem 4rem;
        flex-wrap: wrap;
    }

    .navbar a {
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 400;
        transition: all 100ms;
        margin-right: 4rem;
    }

    .hamburger {
        display: none;
    }
}
