@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url(../../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Dosis';
    src: local('Dosis'), url(../../assets/fonts/Dosis/Dosis-VariableFont_wght.ttf) format('truetype');
    font-weight: 1 999;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../../assets/fonts/Montserrat/Montserrat-Italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../../assets/fonts/Montserrat/Montserrat-Black.ttf) format('truetype');
    font-weight: 900;
}

html,
body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: var(--color-text);
}

/* Type */

h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 0;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.75rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

b {
    font-weight: 700;
}

main,
header,
section,
footer {
    margin: 0;
}

section {
    padding: 6rem 2rem;
}

.main-content {
    max-width: 800px;
    margin: auto;
    padding: 3em;
}

.main-content__header {
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 100ms;
    cursor: pointer;
}

/* Button style */

button {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1rem 4rem;
    margin: 3rem 0;
    border-radius: 5px;
    border: 2px solid var(--button-color);
    background: var(--color-pink);
    color: var(--color-blue-dark);
    transition: all 100ms;
    cursor: pointer;
    width: 100%;
}

button.secondary {
    color: var(--button-color);
    background: #fff;
}
button:hover {
    background-color: #fff;
}

.donate-button:hover {
    background-color: #fff;
    color: var(--button-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5rem;
    max-width: 1600px;
}

.section-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 600px) {
    main {
        margin-top: 12rem;
    }

    .section-landing {
        width: 100%;
        margin: 0px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--header-bg-color);
        box-sizing: border-box;
        padding: 10rem;
        flex-wrap: wrap;
    }

    .contact {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin: 2rem 4rem;
        flex-wrap: wrap;
    }
}
