.header,
.navbar {
    flex-direction: row;
}

.navbar {
    display: none;
    align-items: center;
}

.navbar.open {
    flex-direction: column;
    display: flex;
    height: 100%;
    width: 100%;
    align-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    justify-content: space-evenly;
}

/* Header style */

header {
    display: flex;
    padding-top: var(--space-md);
    max-width: var(--box-xxl);
    margin: auto;
    justify-content: space-between;
    z-index: 9999;
    align-items: center;
}

.navbar a {
    margin-left: var(--space-md);
}

a:hover {
    color: var(--button-color);
}

.brand h3 {
    margin: 0;
}

@media (min-width: 600px) {
    .navbar {
        position: relative;
        height: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        box-sizing: border-box;
    }

    .menu {
        display: none;
    }
}
